html, 
body {
	height: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.container-fluid {
	height: 100%;
}

.project-container {
    margin-top: 100px;
}

.row-1 {
    margin-bottom: 50px;
}

.card-body > h3 {
    margin-top: 10px;
}

.btn {
    margin-top: 10px;
}

.card-img {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}

@media screen and (max-width: 992px) and (min-width: 576px) {
    .card {
        display: inline-block;
        height: 200px;
        width: 200px;
        top: 30px;
        padding-top: 40px;
        text-align: center;
    }
}