html, 
body {
	height: 100%;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.container-fluid {
	height: 100%;
}

.row {
	height: 100vh;
}

.col-md-6 {
    padding: 0;
}

.main-box {
	height: 50%;
    position: relative;
    overflow: hidden;
}

#main-about {
	background: grey;
}

.main-title {
	margin-top: 10px;
    position: absolute;
    left: 15px;
}

.main-pic {
    display: block;
    min-height: 100%;
    width: auto;
}

#web {
    background: blue;
}

.name-title {
    text-align: center;
}

.photo-title,
.web-title {
    color: white;
    opacity: 1;
} 

.web-pic {
    position: absolute;
    display: block;
    height: 50%;
    left: 50%;
    margin-top: 15%;
    visibility: visible;
}

#slider {
    position: absolute;
    right: -100%;
}

.web-detail {
    height: 100%;
    padding-top: 10%;
    position: absolute;
    visibility: hidden;
    cursor: pointer;
}

.web-detail > h2 {
    text-decoration: underline;
}

.fa-camera {
    visibility: visible;
}

.tile-link {
    display: block;
}